* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: wheat;
}

.title-recipes {
  font-size: 50px;
  text-align: center;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
}

a {
  font-size: 20px;
  text-decoration: none;
  border: 5px solid black;
  border-radius: 100%;
  color: white;
  background-color: black;
  padding: 10px 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h3 {
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
}

li {
  line-height: 30px;
  font-size: 20px;
  display: list-item;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 25px;
  text-align: center;
}

.back-home {
  margin-top: 30px;
  border: 3px solid black;
  text-decoration: none;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
}

ul,
ol {
  text-align: center;
  list-style-position: inside;
}

.img-container {
  display: flex;
  justify-content: center;
}
